{% extends 'base.html' %}

{% block content %}

    <div class="card shadow-lg">
        <form method='POST'>
            {% csrf_token %}
            <h1 class="card-header">Close {{ bug.title }}</h1>
            <div class="card-body">
                <h2>Are you sure want to close the bug report {{ bug.title }}?</h2>
                <p class="mt-4 mb-1">
                    <input class="btn btn-danger" type='submit' value='Yes' />
                    <a class="btn btn-primary" href="{% url 'bugs:bug_list' %}">Cancel</a>
                </p>
            </div>
        </form>
    </div>

{% endblock %}
