{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="card shadow-lg">
        <form method="POST">
            {% csrf_token %}
            <h1 class="card-header">Update {{ bug.title }}</h1>
            <div class="card-body">
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Save">
                <a class="btn btn-danger" href="{% url 'bugs:bug_list'%}">Cancel</a>
            </div>
        </form>
    </div>

{% endblock %}
